@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: balance;
  margin: 0;
  padding: 0;
}

p,span,li,a {
  color: rgb(120, 115, 109);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.header,
.paragraph {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 .header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  line-height: 1.2;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-wrap: balance;
  color: rgb(28, 26, 23);
  font-weight: normal;
}

p,
.paragraph {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  text-wrap: pretty;
}


.container {
  max-width: 800px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 800px) {
  body {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
  }
}
