@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: balance;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.header,
.paragraph {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 .header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  line-height: 1.2;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-wrap: balance;
}

p,
.paragraph {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

.container {
  max-width: 800px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
