---
import CartItem from "../components/cart-item.astro";
import Layout from "../layouts/layout.astro";
---
<Layout>
	<h1>Shopping Cart</h1>
	<span>4 items</span>

	<div aria-role="list">
		<CartItem imgSrc="/sdev153-in-class-practice/sdev153-in-class-practice/sdev153-in-class-practice/product-1" title="Structured Cotton Blazer" quantity={1} price={285.00} />
		<CartItem imgSrc="/sdev153-in-class-practice/sdev153-in-class-practice/product-2" title="Merino Wool Turtleneck" quantity={2} price={330.00} />
		<CartItem imgSrc="/sdev153-in-class-practice/product-4" title="Cashmere Scarf" quantity={1} price={150.00} />
	</div>
</Layout>
