---
import Layout from "../layouts/layout.astro";
import Hero from "../components/hero.astro";
import Button from "../components/ui/button.astro";
---
<Layout>
	<Hero />

	<section>
		<h2>Categories</h2>
	</section>

	<section>
		<h2>Features Pieces</h2>
	</section>

	<section>
		<h2 id="#about">Our Philosophy</h2>
	</section>
</Layout>