---
interface Props {
	imgSrc: string;
	title: string;
	quantity: number;
	price: number;
}

const { imgSrc, title, quantity, price } = Astro.props as Props;
---

<style>

</style>

<div aria-role="listitem">

</div>