---
import { Search, ShoppingCart } from "@lucide/astro"
---

<style>
	header {
		border-bottom: 1px solid rgb(227, 224, 221);
		min-height: 64px; /* Remove this */
	}
</style>

<header class="header">
	<a href="/shop">Shop</a>
	<a href="/shop">New Arrivals</a>
	<a href="/#about">About</a>

	<a href="/">ATELIER</a>

	<a href="#search"><Search /></a>
	<a href="/cart"><ShoppingCart /></a>
</header>
